@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: linear-gradient(to top left, #603813, #b29f94);
        --background: 31 98.35% 98.46%;
        --foreground: 31 6.7% 0.92%;

        --muted: 31 6.7% 92.3%;
        --muted-foreground: 31 3.35% 42.3%;

        --popover: 31 36.4% 92.3%;
        --popover-foreground: 31 6.7% 1.1500000000000001%;

        --card: 31 36.4% 92.3%;
        --card-foreground: 31 6.7% 1.1500000000000001%;

        --border: 31 11.7% 89.92%;
        --input: 31 11.7% 89.92%;

        --primary: 31 67% 23%;
        --primary-foreground: 31 1.34% 92.3%;

        --secondary: 31 3.35% 96.15%;
        --secondary-foreground: 31 5.0200000000000005% 12.3%;

        --accent: 31 3.35% 96.15%;
        --accent-foreground: 31 5.0200000000000005% 12.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 31 67% 23%;

        --radius: 0.5rem;
    }

    .dark {
        --gradient: linear-gradient(to top left, #833ab4, #fd1d1d, #fcb045);

        --background: 70 65% 4%;
        --foreground: 70 10% 97.5%;

        --muted: 70 50% 15%;
        --muted-foreground: 70 10% 55%;

        --popover: 70 45% 6.5%;
        --popover-foreground: 70 10% 97.5%;

        --card: 70 45% 6.5%;
        --card-foreground: 70 10% 97.5%;

        --border: 70 50% 15%;
        --input: 70 50% 15%;

        --primary: 70 100% 50%;
        --primary-foreground: 70 10% 5%;

        --secondary: 70 50% 15%;
        --secondary-foreground: 70 10% 97.5%;

        --accent: 70 50% 15%;
        --accent-foreground: 70 10% 97.5%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 70 10% 97.5%;

        --ring: 70 100% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    .bg-gradient {
        background: var(--gradient);
    }

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
