absl-py==1.4.0
anyio==3.7.0
asgiref==3.7.2
astunparse==1.6.3
audioread==3.0.0
basic-pitch==0.2.5
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==7.1.2
decorator==5.1.1
Django==4.2.1
django-cors-headers==4.0.0
django-rest-auth==0.9.5
djangorestframework==3.14.0
exceptiongroup==1.1.1
ffmpeg-python==0.2.0
flatbuffers==23.5.26
future==0.18.3
gast==0.4.0
google-auth==2.19.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.54.2
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==3.8.0
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
hyperframe==6.0.1
idna==3.4
jax==0.4.11
joblib==1.2.0
keras==2.11.0
libclang==16.0.0
librosa==0.8.1
llvmlite==0.38.1
Markdown==3.4.3
MarkupSafe==2.1.2
mido==1.2.10
mir-eval==0.7
ml-dtypes==0.1.0
norbert==0.2.1
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas==1.5.3
platformdirs==3.5.1
pooch==1.7.0
pretty-midi==0.2.10
protobuf==3.19.6
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
spleeter==2.3.2
sqlparse==0.4.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.1.0
typer==0.3.2
typing_extensions==4.6.3
urllib3==1.26.16
Werkzeug==2.3.4
wrapt==1.14.1
